body {
    margin: 0;
    background-color: #EEEEEE;
}

h1 {
    background-color: #5D99FF;
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin-top: 0;
    color: aliceblue;
}

.container {
    margin: 0 20px;
}

.scheduleTable {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    border-collapse: collapse;
}

table {
    width: 100%;
}

.scheduleTable th, .scheduleTable td {
    border: solid 1px #cccccc
}

.newSchedule {
    background-color: #0033FF;
    width: 85px;
    height: 30px;
    line-height: 30px;
    border-radius: 100vh;
    text-align: center;
}

.newSchedule:hover {
    opacity: 0.8;
}

.newButton {
    color: aliceblue;
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: space-between;
}

.container-new {
    margin: 40px auto;
}

.title-new {
    width: 550px;
    margin: 10px auto;
}

.form {
    background-color: #ffffff;
    width: 550px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.form-container {
    width: 480px;
    margin: 0 auto;
}

.table-new {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    border-collapse: collapse;
}

.submit-new {
    display: flex;
    justify-content: flex-end;
}

.cancel-new {
    background-color: #cccccc;
    width: 85px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
}

.cancel-new:hover {
    opacity: 0.8;
}

.save-new {
    background-color:#0033FF;
    width: 85px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
    font-family: "Hiragino Kaku Gothic ProN";
    border: none;
    margin-left: 15px;
}

.save-new:hover {
    opacity: 0.8;
}

.container-show {
    margin: 30px auto;
}

.title-new {
    width: 550px;
    margin: 10px auto;
}

.detail {
    background-color: #ffffff;
    width: 550px;
    margin: 0 auto;
}

.table-show {
    border-collapse: collapse;
}

.table-show th {
    border: solid 1px #cccccc;
    width: 180px;
    background-color: #D9E5FF;
}

.table-show td {
    border: solid 1px #cccccc;
    width: 370px;
}

.back-index {
    width: 550px;
    margin: 0 auto 20px auto;
}

.cancel-show {
    text-decoration: none;
    color: blue;
}

.cancel-show:hover {
    opacity: 0.7;
}

.show-header {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 15px auto;
}

.title-show {
    margin: 0;
}

.show-to-edit {
    background-color: #0033FF;
    width: 85px;
    height: 30px;
    line-height: 30px;
    border-radius: 100vh;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.show-to-edit:hover {
    opacity: 0.8;
}

.validation-error {
    width: 550px;
    margin: 0 auto;
    color: red;
}

.action {
    text-decoration: none;
    color: blue;
}

.action:hover {
    opacity: 0.7;
}

.footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 30px;
}

.schedule_count {
    font-size: 22px;
    font-weight: bold;
}

.date_today {
    margin-top: 22px;
    color:gray;
}